*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.section h2,
.apartamento h2,
.contexto h2,
.timeline h2,
.responsables h2,
.justicia h2,
.memoria-presente h2{
    font-family:'Cormorant Garamond', serif;
    font-size:3rem;
    text-align:center;
    color:#222;
}

.section h3,
.apartamento h3,
.contexto h3,
.timeline h3,
.responsables h3,
.justicia h3,
.memoria-presente h3{

    font-family:'Cormorant Garamond', serif;

    font-size:2rem;

    text-align:center;

    color:#222;

    margin-bottom:20px;
}


.intro{
    padding:100px 20px 80px;
    text-align:center;
}

.intro-contenedor{
    max-width:900px;
    margin:auto;
}

.intro h2{
    font-family:'Cormorant Garamond', serif;
    font-size:4rem;
    margin-bottom:30px;
    color:#222;
}

.intro-destacada{
    font-size:1.4rem;
    line-height:1.8;
    color:#555;
    font-style:italic;
}

.contexto{
    padding:80px 20px;
}

.contexto-contenedor{
    max-width:1000px;
    margin:auto;

    background:white;

    padding:60px;

    border-radius:12px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.contexto h2{
    font-family:'Cormorant Garamond', serif;
    font-size:3rem;
    margin-bottom:40px;
    text-align:center;
    color:#222;
}

.contexto p{
    font-size:1.1rem;
    line-height:2;
    color:#444;
    margin-bottom:25px;
    text-align:justify;
}

.foto-contexto{
    text-align:center;
    margin:60px 0;
}

.foto-contexto img{
    display:block;
    margin:0 auto;

    max-width:50%;
    height:auto;

    border-radius:10px;
    border:3px solid black;

    box-shadow:0 5px 20px rgba(0,0,0,.15);
}

.foto-contexto p{
    margin-top:15px;
    color:#666;
    font-style:italic;
}
body{
    font-family: Arial, sans-serif;
    line-height:1.6;
    color:#333;
    background-color:#ececec;
}

.hero{
    min-height:180px;

    background:
        linear-gradient(
            rgba(255,255,255,0.65),
            rgba(255,255,255,0.65)
        ),
        url("img/abril2.jpg");

    background-size:cover;
    background-position:center;

    color:#222;

    border-bottom:1px solid #ddd;

    color:#222;
    min-height:20px;

    border-bottom:1px solid #ddd;

    box-shadow:0 2px 10px rgba(0,0,0,.05);
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero-content{
    height:10%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    

}

.hero-content h1{
    font-size:4rem;
    margin-bottom:20px;
    color:#222
}

.hero-content p{

    color:#777
}


.section{
    max-width:1200px;
    margin:auto;
    padding:80px 20px;
}

.section h2{
    margin-bottom:25px;
}

.cards{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:30px;
}

.card{
    text-align: center;
    background:white;
    box-shadow:0 0 15px rgba(0,0,0,.15);
    border-radius:10px;
    overflow:hidden;
}

.card img{
    width:100%;
    height:300px;
    object-fit:cover;

        transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.card:hover img{
        transform:translateY(-5px);
         transform:scale(1.2);

    box-shadow:0 10px 25px rgba(0,0,0,.2);
}



.card p{
    padding:0 15px 20px;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:30px;
}

.imagen-container{
    position:relative;
    overflow:hidden;
}

.imagen-container img{
    width:100%;
    height:300px;
    object-fit:cover;

    transition:
        transform 0.4s ease,
        filter 0.4s ease;
}

.card:hover .imagen-container img{
    transform:scale(1.2);
    filter:brightness(70%);
}

.hero{
    background-color: white;
    min-height: 180px;
    color: #222;
    border-bottom: 1px solid #e5e5e5;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 60px;
}

.logo{
    font-family: 'Cormorant Garamond', serif;
    font-size:2rem;
    font-weight:600;
    letter-spacing:1px;
}

nav ul{
    display:flex;
    gap:35px;
    list-style:none;
}

nav a{
    font-family: 'Cormorant Garamond', serif;
    font-size:1.3rem;
    color:#222;
    text-decoration:none;

    transition:
        transform 0.3s ease,
        text-decoration-color 0.3s ease;
}

nav a:hover{
    text-decoration:underline;
    transform:scale(1.12);
}

.hero-content{
    text-align:center;
    padding:50px 20px;
}

.hero-content h1{
    font-family:'Cormorant Garamond', serif;
    font-size:4rem;
    font-weight:600;
    margin-bottom:15px;
}

.hero-content p{
    font-family:'Cormorant Garamond', serif;
    font-size:1.4rem;
    font-style:italic;
    color:#666;
}

nav a{
    position:relative;
    color:#222;
    text-decoration:none;
    transition:transform 0.3s ease;
}

nav a::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:-4px;
    width:0;
    height:1px;
    background:#222;
    transition:all 0.3s ease;
}

nav a:hover{
    transform:scale(1.12);
}

nav a:hover::after{
    left:0;
    width:100%;
}

/* imagenes 
.contenido{
    min-height:100vh;

    background-image:url("img/abril1.jpg");
    background-size:cover;
    background-position:center;
    background-position:center 20%;
    
}

/* linea de tiempo */

.timeline{
    max-width:900px;
    margin:80px auto;
    padding:20px;
    position:relative;
}

.timeline h2{
    text-align:center;
    margin-bottom:50px;
    font-family:'Cormorant Garamond', serif;
    font-size:3rem;
}

.timeline::before{
    content:"";
    position:absolute;
    left:50%;
    top:120px;
    width:4px;
    height:calc(100% - 120px);
    background:#8b0000;
    transform:translateX(-50%);
}

.evento{
    position:relative;
    width:45%;
    background:white;
    padding:20px;
    margin-bottom:40px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.evento:nth-child(even){
    margin-left:auto;
}

.evento::before{
    content:"";
    position:absolute;
    top:25px;
    width:18px;
    height:18px;
    background:#8b0000;
    border-radius:50%;
}

.evento:nth-child(odd)::before{
    right:-40px;
}

.evento:nth-child(even)::before{
    left:-40px;
}

.evento span{
    display:block;
    font-weight:bold;
    color:#8b0000;
    margin-bottom:10px;
    font-size:1.1rem;
}

.evento p{
    margin:0;
}

.info-oculta{
    display:none;
    padding:15px;
    text-align:left;
    background:#f5f5f5;
}

.btn-leer-mas{
    margin-bottom:15px;
    padding:8px 15px;
    border:none;
    background:#6b0f0f;
    color:white;
    cursor:pointer;
    border-radius:5px;

    transition:0.3s;
}

.btn-leer-mas:hover{
    background:#8b0000;
}

.operativo{
    background:
        linear-gradient(
            rgba(0,0,0,0.75),
            rgba(0,0,0,0.75)
        ),
        url("img/edificiomuchachasdeabril.jpg");

    background-size:cover;
    background-position:center;

    color:white;

    padding:100px 20px;
}

.operativo-overlay{
    max-width:1000px;
    margin:auto;
}

.operativo h2{
    text-align:center;
    font-family:'Cormorant Garamond', serif;
    font-size:3.2rem;
    margin-bottom:20px;
}

.subtitulo{
    text-align:center;
    max-width:700px;
    margin:0 auto 70px auto;
    font-size:1.2rem;
    color:#ddd;
}

.operativo-timeline{
    border-left:3px solid #8b0000;
    padding-left:40px;
}

.momento{
    position:relative;
    margin-bottom:50px;
}

.momento::before{
    content:"";
    position:absolute;
    left:-51px;
    top:5px;

    width:18px;
    height:18px;

    border-radius:50%;
    background:#8b0000;
}

.momento span{
    color:#d9a441;
    font-weight:bold;
    display:block;
    margin-bottom:10px;
}

.momento h3{
    margin-bottom:10px;
    font-size:1.4rem;
}

.momento p{
    color:#ddd;
    line-height:1.7;
}

.responsables{
    max-width:1200px;
    margin:100px auto;
    padding:0 20px;
}

.responsables h2{
    text-align:center;
    font-family:'Cormorant Garamond', serif;
    font-size:3rem;
    margin-bottom:20px;
}

.responsables-intro{
    max-width:800px;
    margin:0 auto 50px auto;
    text-align:center;
    color:#555;
}

.responsables-grid{
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(280px,1fr));

    gap:30px;
}

.responsable-card{
    background:white;
    padding:30px;
    border-radius:10px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

    transition:
        transform .3s ease,
        box-shadow .3s ease;
}

.responsable-card:hover{
    transform:translateY(-5px);

    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.responsable-card h3{
    margin-bottom:15px;
    color:#6b0f0f;
    font-size:1.5rem;
}

.responsable-card p{
    color:#555;
    line-height:1.7;
}

.justicia{
    max-width:1200px;
    margin:100px auto;
    padding:0 20px;
}

.justicia h2{
    text-align:center;
    font-family:'Cormorant Garamond', serif;
    font-size:3rem;
    margin-bottom:20px;
}

.justicia-intro{
    max-width:850px;
    margin:0 auto 60px auto;
    text-align:center;
    color:#555;
    line-height:1.8;
}

.justicia-grid{
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(300px,1fr));

    gap:30px;
}

.justicia-card{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);

    transition:.3s;
}

.justicia-card:hover{
    transform:translateY(-5px);
}

.justicia-fecha{
    text-align: center;
    margin-bottom:10px;
    color:#8b0000;
    font-weight:bold;
}

.justicia-card h3{
    text-align: center;
    margin-bottom:15px;
}

.justicia-card p{
    color:#555;
    line-height:1.7;
}

.memoria-final{
    margin-top:80px;
    padding:50px;

    background:white;

    border-left:6px solid #8b0000;

    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.memoria-final h3{
    font-family:'Cormorant Garamond', serif;
    font-size:2rem;
    margin-bottom:20px;
}

.memoria-final p{
    line-height:1.9;
    color:#444;
}

.frase-final{

    padding:120px 20px;

    background:
        linear-gradient(
            rgba(0,0,0,0.75),
            rgba(0,0,0,0.75)
        ),
        url("img/memoria.jpg");

    background-size:cover;
    background-position:center;

    text-align:center;

    color:white;
}

.frase-contenedor{
    max-width:900px;
    margin:auto;
}

.frase-final blockquote{
    font-family:'Cormorant Garamond', serif;
    font-size:2.8rem;
    font-style:italic;
    line-height:1.5;

    margin-bottom:40px;
}

.frase-final p{
    font-size:1.1rem;
    letter-spacing:2px;
    text-transform:uppercase;
    color:#d9d9d9;
}

.btn-top{
    position:fixed;
    bottom:30px;
    right:30px;

    width:55px;
    height:55px;

    display:flex;
    align-items:center;
    justify-content:center;

    background:#6b0f0f;
    color:white;

    text-decoration:none;
    font-size:1.5rem;
    font-weight:bold;

    border-radius:50%;

    box-shadow:0 4px 15px rgba(0,0,0,.3);

    transition:all .3s ease;
}

.btn-top:hover{
    transform:scale(1.1);
    background:#8b0000;
}

html{
    scroll-behavior:smooth;
}
.dato-destacado{
    background:white;
    color:#222;

    padding:30px;

    border-left:6px solid #8b0000;

    border-radius:8px;

    margin:40px 0;
}
.apartamento{
    max-width:1000px;
    margin:80px auto;
    padding:60px;

    background:white;

    border-radius:12px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.apartamento h2{
    font-family:'Cormorant Garamond', serif;
    font-size:3rem;

    text-align:center;

    margin-bottom:40px;

    color:#222;
}

.apartamento p{
    font-size:1.1rem;
    line-height:2;

    text-align:justify;

    color:#444;

    margin-bottom:25px;
}


.memoria-presente{
    background:#f5f5f5;

    padding:100px 20px;

    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.memoria-presente h2{
    text-align:center;

    font-family:'Cormorant Garamond', serif;

    font-size:3rem;

    margin-bottom:40px;
}

.memoria-presente p{
    max-width:900px;

    margin:0 auto 30px auto;

    font-size:1.15rem;

    line-height:2;

    text-align:justify;

    color:#444;
}

/* Responsive */

@media (max-width: 900px){

    nav{
        flex-direction:column;
        gap:20px;
        padding:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero-content h1{
        font-size:3rem;
    }

    .intro h2,
    .contexto h2,
    .apartamento h2,
    .timeline h2,
    .responsables h2,
    .justicia h2,
    .memoria-presente h2{
        font-size:2.5rem;
    }

    .contexto-contenedor,
    .apartamento{
        padding:40px;
    }
}

@media (max-width: 600px){

    nav{
        padding:15px;
    }

    .logo{
        font-size:1.5rem;
        text-align:center;
    }

    nav ul{
        gap:15px;
    }

    nav a{
        font-size:1rem;
    }

    .hero-content h1{
        font-size:2.2rem;
    }

    .hero-content p{
        font-size:1rem;
    }

    .intro{
        padding:60px 20px;
    }

    .intro h2{
        font-size:2rem;
    }

    .intro-destacada{
        font-size:1.1rem;
    }

    .contexto-contenedor,
    .apartamento,
    .fuentes,
    .memoria-final{
        padding:25px;
    }

    .contexto p,
    .apartamento p,
    .memoria-presente p{
        font-size:1rem;
        text-align:left;
    }

    .card img{
        height:220px;
    }

    .operativo{
        padding:60px 15px;
    }

    .operativo h2{
        font-size:2rem;
    }

    .subtitulo{
        font-size:1rem;
    }

    .operativo-timeline{
        padding-left:25px;
    }

    .momento::before{
        left:-36px;
    }

    .frase-final blockquote{
        font-size:1.8rem;
    }

    .btn-top{
        width:45px;
        height:45px;
        font-size:1.2rem;

        right:15px;
        bottom:15px;
    }
}

@media (max-width: 768px){

    .timeline::before{
        left:20px;
    }

    .evento{
        width:calc(100% - 50px);
        margin-left:50px !important;
    }

    .evento::before{
        left:-39px !important;
        right:auto !important;
    }
}

.bibliografia{

    max-width:1000px;

    margin:100px auto;

    padding:60px;

    background:#f3ead3;

    border:1px solid #cbb890;

    border-radius:10px;

    box-shadow:
        0 5px 20px rgba(0,0,0,.08),
        inset 0 0 25px rgba(0,0,0,.03);
}

.bibliografia h2{

    font-family:'Cormorant Garamond', serif;

    font-size:3rem;

    text-align:center;

    color:#4d3925;

    margin-bottom:40px;
}

.bibliografia h2::after{

    content:"";

    display:block;

    width:150px;

    height:2px;

    background:#8b6f47;

    margin:15px auto 0;
}

.bibliografia ul{

    list-style:none;

    padding:0;
}

.bibliografia li{

    padding:15px 0;

    line-height:1.8;

    color:#3f352a;

    border-bottom:1px solid rgba(139,111,71,.25);
}

.bibliografia li:last-child{

    border-bottom:none;
}

.carrusel-museo{
    position:relative;
    max-width:1000px;
    margin:50px auto;
}

.carrusel-contenedor{
    display:flex;
    gap:20px;

    overflow-x:auto;
    scroll-behavior:smooth;

    scrollbar-width:none;
}

.carrusel-contenedor::-webkit-scrollbar{
    display:none;
}

.carrusel-contenedor img{

    min-width:700px;
    max-width:700px;

    max-height:500px;

    width:auto;
    height:auto;

    object-fit:contain;

    background:#f3ead3;

    padding:10px;

    border:3px solid #cbb890;

    border-radius:10px;
}

.carrusel-contenedor img:hover{
    transform:scale(1.02);
}

.carrusel-btn{
    position:absolute;
    top:50%;

    transform:translateY(-50%);

    width:50px;
    height:50px;

    border:none;
    border-radius:50%;

    background:rgba(0,0,0,.7);

    color:white;

    font-size:1.5rem;

    cursor:pointer;

    z-index:10;
}

.prev{
    left:-20px;
}

.next{
    right:-20px;
}

.pie-fotos{
    text-align:center;
    font-style:italic;
    margin-top:20px;
    color:#666;
}
